.admin-file-upload {
    height: 100px;
    width: 100px;
    margin: 10px auto;
    border: 1px solid #f0c0d0;
    overflow: hidden;
    position: relative;
}

.admin-file-upload img {
    height: 100px;
    width: 100px;
}

.admin-file-upload:hover {
    cursor: pointer;
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
    transition-duration: 2s;
}